/weather-service/.idea
/disaster-service/.idea
/gateway/.idea
/service-discovery/.idea
/gateway/.vscode
/service-discovery/.vscode
/weather-service/.vscode
/disaster-service/.vscode
/gateway/cache/__pycache__
/gateway/circuit_breaker/__pycache__
/gateway/load_balancer/__pycache__
.env
.vscode