/weather-service/.idea
/weather-service/Templates(TO_DELETE).txt
/disaster-service/.idea
/disaster-service/Templates(TO_DELETE).txt
/gateway/.idea
/service-discovery/.idea
/service-discovery/services.json